<template name="dashboardView">
	<div class="dashboard-wrapper">
		<div class="dashboard-content">
			<div class="navigation-bar">
				<button type="button" class="btn btn-default" data-toggle="offcanvas">
					<i class="fa fa-bars"></i>
				</button>
				<span class="navigation-title text-overflow">{{currentDashboardName}}</span>
			</div>
			<iframe src="/packages/steedos_freeboard/index.html?dashboardId={{dashboardId}}&spaceId={{spaceId}}"></iframe>
		</div>
	</div>
	<!-- {{> baseTabbar}} -->
</template>