<template name="dashboardHeader">
	<header class="main-header">
		{{> headerLogo}}
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Navbar Left Menu -->
			<ul class="nav navbar-nav">
				<li class="appName fssh-home-link">
					<a href="javascript:void(0)">{{currentDashboardName}}</a>
				</li>
			</ul>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					{{> headerLoading}}
					{{> headerRefresh}}
					{{> headerWorkflowBadge}}
					{{> headerCmsBadge}}
					{{> headerAccount}}
					<li>
						<a href="/admin">{{_ "Steedos Admin"}}</a>
					</li>
					<li class="li-help">
						<a href="#" class="steedos-help"><i class="ion ion-ios-help-outline"></i></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</template>