<template name="dashboardLayout">
	{{#if subsReady}}
		<div class="steedos app-wrapper dashboard">
			{{# AdminLTE skin="blue" sidebarMini="true" }}
				{{> dashboardHeader}}
				{{#if isSidebarNeedShow}}
					{{> dashboardSidebar}}
				{{/if}}
				<div class="content-wrapper {{#if isSidebarNeedShow}} no-sidebar {{/if}}">
					<div class="connection-status">
						{{> status}}
					</div>
					{{> Template.dynamic template=main}}
					</div>
			{{/ AdminLTE}}
		</div>
	{{/if}}

	{{> autoformModals}}
</template>

